
.wp-block-cloudblocks-g-section {
  position: relative;
  background-size: cover;
  background-position: center center;

  margin: 0 auto 20px;
  width: 100%;
  min-height: 100px;

  // overlay
  .g-section-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    display: none;
  }

  // content
  .g-section-wrapper {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    padding: 0 20px 0;

    &:after {
      clear: both;
      display: block;
      content: " ";
    }
  }


  // Layout options
  &.alignfull {
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  .gutenberg__editor &.alignfull {
    width: 100%;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
  }


  // Preset margins and paddings
  &.mv-small {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  &.mv-medium {
    margin-top: 75px;
    margin-bottom: 75px;
  }
  &.mv-large {
    margin-top: 125px;
    margin-bottom: 125px;
  }

  &.pv-small {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  &.pv-medium {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  &.pv-large {
    padding-top: 125px;
    padding-bottom: 125px;
  }
}
