
.wp-block-cloudblocks-g-section {
  position: relative;
  background-size: cover;
  background-position: center center;

  margin: 0 0 20px;
  padding: 0 20px;
  min-height: 120px;

  // overlay
  .g-section-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    display: none;
  }

  // content
  .g-section-wrapper {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    padding: 0;

    &:after {
      clear: both;
      display: block;
      content: " ";
    }
  }
}
