
.wp-block-cloudblocks-g-section {
  position: relative;
  background-size: cover;
  background-position: center center;

  margin: 0 auto 20px;
  width: 100%;
  min-height: 100px;

  // overlay
  .g-section-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    display: none;
  }

  // content
  .g-section-wrapper {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    padding: 0 20px 0;

    &:after {
      clear: both;
      display: block;
      content: " ";
    }
  }

  &.alignfull {
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    .g-section-wrapper {
      max-width: 1140px;
    }
  }

  .gutenberg__editor &.alignfull {
    width: calc(100% + 56px);
    left: 0;
    right: 0;
    margin-left: -28px;
    margin-right: -28px;
  }

  .gutenberg__editor &.alignwide {
    max-width: 1140px;
  }
}
